article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
  font-size: 62.5%;;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  font-weight: 300;
  color: #121e33;
}

h1 {
  /* font-family: 'Abril Fatface', serif; */
  font-family: 'Fredericka the Great';
}

h2, h3 {
   font-family: Lato;
   font-weight: 400;
}

button:focus {
  outline: none;
}

/* landing page header--------------------------------------------------------- */
header {
  height: 100vh;
  background-image: url(LandingPageBackground.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position-x: 15px;
  text-align: center;
  color: #121e33;
  
}

.landing__container {
  padding-top: 50px;
}

.landing__title {
  font-size: 10rem;
  margin: 0;
}

.landing__paragraph {
  color: #121e33;
  font-size: 2rem;
  padding: 0px;
  margin: 15px;
}

.landing__button {
  border: 1px solid #121e33;
  border-radius: 5px;
  font-size: 2.4rem;
  padding: 5px 20px;
  background:none;
  color: #121e33;
}

.landing__button:hover {
  color: rgb(172, 171, 168);
  background: #121e33;
}

/* nav bar styles --------------------------------------------------------- */

.main-nav {
  margin: 0;
  color: #121e33;
  background-image: linear-gradient(to right, rgb(172, 171, 168), rgb(188, 188, 186));
}

.main-nav__title {
  font-size: 6rem;
  margin: 0;
  text-align: center;
  padding: 20px;
  font-family: 'Abril Fatface';
  letter-spacing: 2.5px;
}

.main-nav__button-container {
  display:flex;
  width: 80%;
  margin: 0 auto;
  height: 80px;
  justify-content: center;
  border-top: 1px solid rgba(0,0,0, 0.2);
}

.main-nav__button {
  width: calc(100% / 6);
  background: none;
  border: none;
  position: relative;
  font-family: "Lato";
  font-size: 20px;
  color: #121e33;
  padding: 10px;
}

.main-nav__button:hover {
  cursor: pointer;

}

.main-nav__button::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background: #121e33;
  transition: width .4s;
}

.main-nav__button:hover::after {
  cursor: pointer;
  width: 100%;
}

.main-nav__button:focus::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #121e33;
}

/* Styles for main section --------------------------------------------------------- */

.mainSection {
  display: flex;
  width: 100%;
  margin: 0 auto;
  min-height: 80vh;
}

.my-list {
  padding-top: 20px;
  width: 25%;
  border-bottom: 3px solid lightgray;
  box-shadow: 5px 5px 10px grey;
  color: white;
  z-index: 10;
}

.my-list__title {
  /* font-family: 'Fredericka the Great'; */
  text-align: center;
  color: #121e33;
  margin: 0;
  font-family: "Abril Fatface";
  font-size: 2rem;
}

.my-list__ul {
  list-style-type: none;
}

.my-list__item {
  color: #121e33;
  margin-bottom: 10px;
  position: relative;
  width: 50%;
  margin: 10px auto;
}

.my-list__item div {
  font-size: 1.6rem;
}

.my-list__default {
  color: grey;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 1.8rem;
}

.my-list__button {
  position: absolute;
  top: -5%;
  left: -20%;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Verdana";
}

/* styles for default paragraph before category is chosen */
.default-text {
  position: relative;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-top: 50px;
  
}

.default-paragraph {
  font-weight: 300;
  font-size: 2rem;
  color: #666666;
  margin: 0;
}



/* bestsellers list section ---------------------------------------------------------  */

.bestsellers {
  width: 75%;
  background: #fafafa;
  padding: 50px 20px 20px 30px;
  display: flex;
  flex-wrap: wrap;
  
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(25% - 30px);
  margin: 15px;

}

.book {
  position: relative;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}

.book__title {
  text-transform: capitalize;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: left;
}

.book__img {
  max-width: 100%;
  box-shadow: 5px 5px 10px grey;
  min-height: 190px;
  max-height: 190px;

}

.book__author {
  margin: 0;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  font-size: 1.6rem;
}

.book__img-loading {
  color: grey;
  width: 128px;
  height: 190px;
}

.book__info {
  display: flex;
}

.far, .fas {
  padding: 10px 5px;
  font-size: 2.4rem;
  color: #121e33;
}

.far:hover, .fas:hover {
  cursor: pointer;
}

.fa-heart:hover {
  color: rgb(251, 57, 66);
  
}
.fa-info-circle:hover {
  color: grey;
}

.book__rank-container {
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items:center;
  background: rgba(255, 255, 255, 0.8);
  border: #121e33 1px solid;
  padding: 10px;
  border-radius: 50%;
  top: -3%;
  left:-10%;
}

.book__rank {
  font-size: 2rem;
  margin: 0;
  font-family: "Abril Fatface";
  color: #121e33;
}

.book__info-button, .book__fave-button {
  background: none;
  border: none;
  
}

/* modal styles in */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
}

.modal-main__title-bar {
  
  width: 100%;
  border-bottom: 1px solid black;
}

.modal-main__img-container {
  float: left;
  margin-right: 10px;
}

.modal-main__title-text {
  width: 100%;
  display: flex;
  text-align: left;
  padding: 20px;
}

.modal-main__book-title {
  font-size: 40px;
  text-align: left;
  margin: 5px;
  width: 100%;
}

.modal-main__description {
  padding: 20px;
}

.modal-main__description-text {
  line-height: 1.5;
  font-size: 2rem;
}

.modal-main__book-info-container {
  width: 100%;
  text-align: left;
  display: flex;
 
}

.modal-main__book-rank, .modal-main__book-weeks, .modal-main__book-rating {
  width: calc(33% - 20px);
  display: block;
  text-align: left;
  margin: 10px;
  font-size: 2rem;
}  

.modal-main__close {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-main__link-container {
  width: 85%;
  margin: 0 auto;
}

.modal-main__link {
  text-decoration: none;
  display: inline-block;
  width: calc(50% - 20px);
  margin: 10px;
  font-size: 2rem;
  color: #fafafa;
  background: #121e33;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.fa-shopping-cart, .fa-book-reader {
  color: white;
}

.display-block {
  display: block;
  z-index:10;
}

.display-none {
  display: none;
}

#viewerCanvas {
  width: 600px; 
  height: 500px;
} 

/* media queries ---------------------------------------------------------  */

@media(max-width: 1100px) {
  header {
    background-position-x: center;
  }
  .landing__title {
    font-size: 7rem;
  }
  .main-nav__button-container {
    width: 95%;
  }
  
}

@media(max-width: 900px) {
  
  .mainSection {
    flex-direction: column;
  }
  .my-list {
    width: 100%;
  }

  .my-list__button {
    top:0;
    left:0;
  }

  .bestsellers {
    width: 100%;
  }
  .my-list__ul {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .my-list__item {
    padding: 10px;
  }
  .main-nav__button-container {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav {
    padding-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .main-nav__button-container {
    height: 100px;
    width: 65%;
  }
  .main-nav__button {
    min-width: 140px;
  }
  .main-nav__title {
    font-size: 5rem;
  }
  
  .modal-main__description-text {
    font-size: 2rem;
  }
  .modal-main__link {
    font-size: 2rem;
    padding: 5px 10px;
  }
}

@media(max-width: 750px) {
  .book-container {
    width: 33.3%;
  }
  .bestsellers {
    justify-content: center;
  }
  .modal-main__link-container {
    width: 100%;
  }
  .modal-main__book-rank, .modal-main__book-weeks, .modal-main__book-rating {
    margin: 5px;
    width: calc(33% - 10px);
  }
}

@media (max-width: 650px) {
  .landing__title {
    font-size: 5rem;
  }
  
  .main-nav__title {
    font-size: 3rem;
  }
  .landing__button {
    font-size: 2rem;
  }
  .main-nav__button-container {
    width: 90%;
  }
  .modal-main__link {
    width: calc(100% - 20px);
  }
  .modal-main__title-bar {
    padding-left: 10px;
  }
  .modal-main__book-info-container {
    font-size: 1.4rem;
    flex-direction: column;
  }
  .modal-main__book-rank, .modal-main__book-weeks, .modal-main__book-rating {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  .landing__title {
    font-size: 4rem;
  }
  .default-text{
    width: 75%;
  }
  .book-container {
    width: 50%;
  }

  .book {
    align-items:center;
  }
  .book__title {
    text-align: center;
  }
  .book__author {
    text-align: center;
  }
  .book__rank-container {
    left: 10%;
  }
  .modal-main {
    width: 100%;
  }

  .modal-main__img-container {
    display:none;
  }

  .modal-main__book-rank, .modal-main__book-weeks, .modal-main__book-rating {
    width: 100%;
  }
  .modal-main__book-info-container {
    font-size: 14px;
    flex-direction: column;
  }
  .main-nav__button {
    min-width: 130px;
    padding: 5px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .book__rank-container {
    left: 0;
  }
}











